<% if @editing %>
	<%= form_to_event :state => :_update %>
		<table>
			<tr>
				<td>Title:</td>
				<td><%= text_field_tag 'title', @record.title, :size => 40 %></td>
			</tr>
			<tr>
				<td>Author:</td>
				<td><%= @rendered_children['author_selected'] %></td>
			</tr>
			<tr>
				<td>Publisher:</td>
				<td><%= @rendered_children['publisher_selected'] %></td>
			</tr>
			<tr>
				<td><%= submit_tag @record.new_record? ? "Add book" : "Update book" %></td>
				<td><%= link_to_event('Cancel', :type => :dismissPanel ) %></td>
			</tr>
		</table>
	</form>
<% else %>
	<% if @record.new_record? %>
		<p>No book selected.</p>
	<% else %>
		<table border="1">
			<tr>
				<td>Title:</td>
				<td><%= @record.title rescue '(Not set)' %></td>
			</tr>
			<tr>
				<td>Author:</td>
				<td><%= @rendered_children['author_selected'] %></td>
			</tr>
			<tr>
				<td>Publisher:</td>
				<td><%= @rendered_children['publisher_selected'] %></td>
			</tr>
		</table>
	<% end %>
<% end %>
<%= javascript_tag js_emit %>
