<!-- It's bad form to have delete be a clickable link, fix that someday -->
<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Publisher</th>
		<th>Edit</th>
		<th>Show</th>
		<th>Delete</th>
	</tr>
	<% for record in @records do %>
	<tr>
		<td><%=h record.title %></td>
		<td><%=h record.author.name %></td>
		<td><%=h record.publisher.name %></td>
		<td><%= link_to_event("Edit", {:type => :editClick, :id => record.id}) %></td>
		<td><%= link_to_event("Show", {:type => :showClick, :id => record.id}) %></td>
		<td><%= link_to_event("Delete", {:type => :delClick, :id => record.id}) %></td>
	</tr>
	<% end %>
</table>
<%= javascript_tag js_emit %>
