<% if @editing %>
	<%= form_to_event :state => :_update %>
		<table>
			<tr>
				<td>Name:</td>
				<td><%= text_field_tag 'name', @record.name, :size => 25 %></td>
			</tr>
			<tr>
				<td><%= submit_tag @record.new_record? ? "Add publisher" : "Update publisher" %></td>
				<td><%= link_to_event('Cancel', :type => :dismissPanel ) %></td>
			</tr>
		</table>
	</form>
<% else %>
	<p>Publisher: <%= @record.new_record? ? 'None selected' : @record.name %>
		<%= link_to_event('(Edit)', {:type => :editClick, :id => @record.id, :from_show => 'y'}) %></p>
<% end %>
<%= javascript_tag js_emit %>
