<html>
<head>

  <%# Pick the theme by uncommenting one of the following four lines %>
  <%#= stylesheet_link_tag 'jquery-ui/ui.all.css' %>
  <%#= stylesheet_link_tag 'jquery-ui/themes/smoothness/jquery-ui-1.7.2.custom.css' %>
  <%#= stylesheet_link_tag 'jquery-ui/themes/sunny/jquery-ui-1.7.2.custom.css' %>
  <%= stylesheet_link_tag 'jquery-ui/themes/bublitzer/jquery-ui-1.7.2.custom.css' %>

  <%= stylesheet_link_tag 'ui.jqgrid.css' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%# I don't use jquery.layout for anything, though the 2dcJqgrid plugin included it %>
  <%= javascript_include_tag 'jquery.layout' %>
  <%= javascript_include_tag 'grid.locale-en' %>
  <%= javascript_include_tag 'jquery.jqGrid.min' %>
  <%= javascript_include_tag :defaults %>

<!-- http://henrik.nyh.se/2008/05/rails-authenticity-token-with-jquery -->
<!-- This sets AUTH_TOKEN to be what Rails wants to see in a response -->
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

</head>
<title>Books</title>
<body>
  <%= @content_for_layout %>

</body>

</html>
